{% extends "base.html" %}

{% block title %}
Two-Factor Authentication
{% endblock %}


{% block content %}

<div class="container">

    <div class="card">

        <h1>
            Two-Factor Authentication
        </h1>

        <p>
            Open your authenticator application
            and enter the 6-digit verification code.
        </p>


        <form method="POST">

            {% csrf_token %}


            <label>
                Authenticator Code
            </label>


            <input
                type="text"
                name="code"
                placeholder="123456"
                maxlength="6"
                pattern="[0-9]{6}"
                autocomplete="one-time-code"
                inputmode="numeric"
                required
            >


            <button type="submit">

                Verify

            </button>

        </form>


        <br>


        <p class="center">

            Your authenticator code changes
            approximately every 30 seconds.

        </p>

    </div>

</div>

{% endblock %}